In [ ]:
import pandas as pd

df = pd.read_csv("earthquake.csv")

In [ ]:
print("--- Primeras 5 filas ---")
display(df.head())

--- Primeras 5 filas ---

,Unknown Number of Deaths,0 Deaths,1-50 Deaths,51-100 Deaths,101-1000 Deaths,>1001 Deaths,"Unknown Number of Deaths, lat","Unknown Number of Deaths, lon","0 Deaths, lat","0 Deaths, lon","1-50 Deaths, lat","1-50 Deaths, lon","51-100 Deaths, lat","51-100 Deaths, lon","101-1000 Deaths, lat","101-1000 Deaths, lon",">1001 Deaths, lat",">1001 Deaths, lon"
0,"New Caledonia: Noumea; Vanuatu: Port-Vila, 1995","Solomon Islands: Santa Cruz Islands; Vanuatu,...","Philippines: Mindanao: Talakag-Malaybalay, 1987","Switzerland, 1801","Switzerland, 1584","Philippines: Mindanao: S, 1976",-23.008,169.900,-12.584,166.676,8.047,125.410,46.900,8.600,46.3,7,6.292,124.09
1,"Pakistan: Battagram, 2015","Iran: Western: Masjed-E- Soleyman, 2003","Pakistan: Quetta, Nushki, 1978","Venezuela: Cariaco-Cumana, 1997","Switzerland, 1584","China: Sichuan Province: Kangding, 1725",34.658,73.302,31.953,49.209,29.926,66.302,10.598,-63.486,46.2,7,30.100,101.90
2,"Peru, 1852",NaN,"Tonga Trench, 1977","Peru: Maca, Chivay, Yanque, 1991","El Salvador: San Marcos, 1965","Iran: Quchan, 1872",-12.1,-77.100,NaN,NaN,-22.878,-175.900,-15.679,-71.574,13.5,-89.3,37.300,58.30
3,"Chile: Southern, 1965",NaN,"Honduras-Guatemala-El Salvador, 1982","Japan: Off East Coast Of Honshu Island, 1968","China: Sichuan Province, 1933","Iran: Quchan, 1871",-42.9,-75.130,NaN,NaN,14.487,-89.121,40.800,143.200,29.5,102.5,37.300,58.30
4,"Indonesia: Banda Sea, 1925",NaN,"China: Gansu Province: Tianzhu, 1990","China: Shanxi Province: Anyi, Gueheng, 1505","China: Guizhou Province: Qinglong, 1551","Iran: Tabriz, 1779",-8,115.000,NaN,NaN,37.093,103.781,35.200,110.900,25.8,105.2,38.000,46.70

In [15]:

import pandas as pd
import re


df = pd.read_csv('earthquake.csv')

import pandas as pd

df = pd.read_csv('earthquake.csv')

configuracion = [
    ("Unknown Number of Deaths", "Unknown Number of Deaths, lat", "Unknown Number of Deaths, lon"),
    ("0 Deaths", "0 Deaths, lat", "0 Deaths, lon"),
    ("1-50 Deaths", "1-50 Deaths, lat", "1-50 Deaths, lon"),
    ("51-100 Deaths", "51-100 Deaths, lat", "51-100 Deaths, lon"),
    ("101-1000 Deaths", "101-1000 Deaths, lat", "101-1000 Deaths, lon"),
    (">1001 Deaths", ">1001 Deaths, lat", ">1001 Deaths, lon")
]

lista_final = []

for col_lugar, col_lat, col_lon in configuracion:

    sub_tabla = df[[col_lugar, col_lat, col_lon]].copy()

    sub_tabla.columns = ['Lugar', 'Latitud', 'Longitud']

    sub_tabla['Rango_Muertes'] = col_lugar

    sub_tabla = sub_tabla.dropna(subset=['Lugar'])

    lista_final.append(sub_tabla)

df_resultado = pd.concat(lista_final, ignore_index=True)

print("Datos reestructurados con relación directa:")
display(df_resultado)

Datos reestructurados con relación directa:

,Lugar,Latitud,Longitud,Rango_Muertes
0,"New Caledonia: Noumea; Vanuatu: Port-Vila, 1995",-23.008,169.9,Unknown Number of Deaths
1,"Pakistan: Battagram, 2015",34.658,73.302,Unknown Number of Deaths
2,"Peru, 1852",-12.1,-77.1,Unknown Number of Deaths
3,"Chile: Southern, 1965",-42.9,-75.13,Unknown Number of Deaths
4,"Indonesia: Banda Sea, 1925",-8,115.0,Unknown Number of Deaths
...,...,...,...,...
5844,"Indonesia: Sumatra: Padang, 2009",-0.72,99.867,>1001 Deaths
5845,"Haiti: Port-Au-Prince, 2010",18.457,-72.533,>1001 Deaths
5846,"China: Qinghai Province: Yushu, 2010",33.165,96.548,>1001 Deaths
5847,"Japan: Honshu, 2011",38.297,142.372,>1001 Deaths
5848,"Nepal: Kathmandu, 2015",28.147,84.708,>1001 Deaths